#item-container {
	margin-left: 30px;
	margin-top: 30px;
	width: 500px;
	height: 450px;
	border: 2px solid #999;
	padding: 10px;
}

#name, #description, #price {
	padding: 5px;
	width: 477px;
	outline: none;
}

#item-name-container, #item-description-container, #item-price-container, #item-payment-container, #item-delivery-container, #item-image-container {
	height: 65px;
}

#payment, #delivery {
	padding: 5px;
	outline: none;
}

#delivery {
	width: 130px;
}

#add-item {
	border: 1px solid black;
	outline: none;
	background-color: white;
	padding: 5px;
}

#add-item:hover {
	background-color: lightblue;
	transition: 0.3s;
	color: white;
}

.error-box {
	border: 1px solid red;
}

#item-name-error-container, #item-description-error-container, #item-price-error-container, #item-payment-error-container, #item-delivery-error-container {
	color: red;
}