* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div#auth-links-container {
	background-color: #999;
	padding: 10px;
}

div#auth-links-container ul {
	list-style-type: none;
}

div#auth-links-container ul li {
	display: inline-block;
	margin-left: 10px;
}

div#auth-links-container ul li a {
	text-decoration: none;
	color: white;
	font-size: 22px;
}

div#auth-links-container ul li a:hover {
	color: lightblue;
	transition: 0.4s;
}

#all-items-container {
	margin-top: 30px;
	margin-left: 250px;
}

table, th, td {
  	border: 1px solid black;
  	border-collapse: collapse;
}

th, td {
  	padding: 15px;
  	text-align: center;
}